.conteudo{
	box-sizing: border-box;
	max-width: 100vw;

	margin: 2vh 11vw 20vh 11vw;
}

.img-portifolio img {
    width: 77vw;
    height: 76vh;

    margin-bottom: 15vh;
}

.sobre-projeto{
	display: flex;
	justify-content: space-between;
}

.texto-sobre-portifolio{
	box-sizing: border-box;
	width: 23vw;
}

.texto-sobre-portifolio h2{

	color: #33323D;
	
	margin: 5vh 0px 5vh 0px;
}

.texto {
	line-height: 1.8em;
}

.t1{
    color: #33323D;

	mix-blend-mode: normal;
	opacity: 0.8;

	margin-bottom: 7vh;
}

.t2{
    color: #5FB4A2;

    margin-bottom: 3vh;

}

.ir-portifolio{
	margin-top: 5vh;
	margin-bottom: 8vh;
}


.link-branco{
	padding: 2vh 2.5vw;
}

.linha{
	width: 23vw;
	height: 0.2vh;
	background: #33323D;
	mix-blend-mode: normal;
	opacity: 0.15;
}

.projeto{
	max-width: 43vw;
}

.previews img{
	width: 43vw;
	margin-bottom: 5vh;
}

.passar-portifolio{
	margin: -10vh 13vw 15vh 12vw;
}

.passar-portifolio .linha{
	width: 75vw;
}

.navegar{
	display: flex;
	justify-content: space-between;

	width: 75vw;

	margin: 5vh 0 5vh 0;
}

.passar{
	display: flex;
	align-items: center;
}

.navegar a{
	text-decoration: none;
}

.seta-voltar{
	margin-right: 2vw;
}

.seta-seguir{
	margin-left: 2vw;
}

.titulo3{

	color: #33323D;

	margin-bottom: 1vh;
}

.texto3{
	line-height: 1.9em;

	color: #33323D;

	mix-blend-mode: normal;
	opacity: 0.5;
}