@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

body{
    all: unset;
    overflow-x: hidden;

    box-sizing: border-box;

    background-image: url("../Assets/space.jpg");
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
}


.container-sobre-mim{
    height: 60vh;

    display: flex;
    justify-content: flex-start;
    padding: 100px 50px;
    color: white;

    background-color: rgba(0, 0, 0, 0.7);
}
.div-sobre-mim{
    width: 50%;
}

.container-habilidades{
    padding: 0;
    margin: 0;
}

.titulo-habilidade{
    text-align: center;
}

.cards-habilidade{
    background-color: rgb(44, 44, 44);
    width: 100vw;
    height: 40vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card-habilidade{
    width: 300px;
    height: 200px;

    border: 5px solid white;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    margin-bottom:25px;
}

h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    margin-bottom: 10px;
}

.container-sobre-mim p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px; 
}

.container-habilidades, .container-perfil-academico{
    background-color: white;
    padding: 25px 0px 50px 0px;

    text-align: center;
}

.container-habilidades p{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px; 
    margin-bottom: 12px;
}

.container-info-academica{
    
margin-bottom: 30px;
}

.txt-principal{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;

    margin-bottom: 3px;
}

.txt-secundario{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; 
}

.txt-descricao{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;   
}

.container-historico-profissional{
    padding: 100px 50px;
    color: white;

    background-color: rgba(0, 0, 0, 0.7);
}