.container-header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #05EDE3 0.1%, #645FFB 99%);
    padding: 4vh 6vw;
}

.container-header div {
    display: flex;
    align-items: center;
}


.container-header p {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;

    color: #FFFFFF;

    margin-left: 13px;
}

.container-header .user {
    font-size: 20px;
}

.container-header button{
    all: unset;

    border: 1px solid white;
    border-radius: 5px;
    color: white;

    margin-left: 14px;
    padding: 5px 10px;

    cursor: pointer;
}

.container-header button:hover{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #645FFB;
    color: #645FFB;

}


@media screen and (max-width: 450px) {
    .logo{
        transform: scale(0.7);
    }
}