@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Nunito:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

.body-login{
    display: flex;
    background-color: #0c0220;
    overflow: hidden;
}

.Lado-esquerdo-layout-login{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 100vh;
    width: 60vw;
    min-width: 600px;

    padding: 50px;

    background-image: url('../../assets/loginArt.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.Lado-esquerdo-layout-login p{
    font-family: 'Montserrat', sans-serif;

    font-weight: 600;
    font-size: 32px;
    line-height: 130%;

    text-align: center;

    color: #6C63FF;
    margin-bottom: 0px;
}

.Lado-direito-layout-login{
    height: 100vh;
    width: 40vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50px;

    background-color: rgb(247, 247, 247);
}

.Lado-direito-layout-login form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-login{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #7b43b9;
    margin-bottom: 40px;
}

.logo-login span{
    color: #00AEEF;
}

.titulo-login{
    font-family: 'Montserrat', sans-serif;  
    width: 100vw;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    text-align: center;

    color: #00AEEF;

    margin-bottom: 40px;
}

.Lado-direito-layout-login label{
    display: block;

    font-family: 'Nunito', sans-serif;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: #00AEEF;

    margin-bottom: 5px;
}

.Lado-direito-layout-login input{
    width: 350px;

    background: #FFFFFF;

    border: 1px solid #D0D5DD;
    box-sizing: border-box;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;

    padding: 10px;
    margin-bottom: 20px;
}

.container-esqueceu-senha{
    display: flex;

    justify-content: space-between;
}

.links-login{
    all: unset;
    font-family: 'Nunito';

    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    white-space: nowrap;
    
    text-decoration-line: underline;
    
    color: #7b43b9;
    cursor: pointer;
}

.links-login:hover{
    color: #6C63FF;
}

.form-button{
    all: unset;

    padding: 4px 40px;

    font-family: 'Nunito', sans-serif;

    font-size: 18px;
    line-height: 25px;

    color: #F8F8F9;
    background: #7b43b9;
    border-radius: 10px;

    margin: 20px 0 10px 0;

    cursor: pointer;
}

.form-button:hover{
    background: #6C63FF;
}

.txt-link{
    font-family: 'Nunito', sans-serif;

    font-size: 14px;
    line-height: 130%;

    color: #00AEEF;

    margin-top: 20px;
}

.container-input-senha-login{
    position: relative;
}

.icon-senha-login{
    position: absolute;
    top: 6px;
    right: 5px;
}

.erro-login{
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #e70000;
}


@media screen and (max-width: 1000px) {
    .body-login{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(247, 247, 247);
    }

    .Lado-esquerdo-layout-login{
        display: none;
    }
}



@media screen and (max-width: 500px) {
    .Lado-direito-layout-login{
        margin-left: 0px;
    }

    .Lado-direito-layout-login input{
    width: 90vw;
    }
}