*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(0,0,0);
}

.header{
  position:absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;

  font-size: 32px;
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.background{
  width: 100vw;
  height: 100vh;
  background-image: url('https://wallpapercave.com/wp/wp10356952.jpeg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  -webkit-mask-image: linear-gradient(to right, transparent 10%, rgb(255, 255, 255) 20%);

  margin-bottom: 30px;
}

.container-list{
  display: flex;
}