.price-button {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
  
  .price-button.game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 8px;
    font-size: 14px;
    background: #b17248;
    color: #EEE5FF;
  }

  .price-button.game:hover{
    background: #F58840;
  }
  
  .price-button.basket {
    min-width: 200px;
    padding: 16px;
    font-size: 16px;
    background: #0f753d;
    color: #FDFDFD;
  }

  .price-button.basket:hover{
    background: #33d87d;
  }


  @media screen and (max-width: 650px){
    .price-button.game{
      font-size: 22px;
      width: 100%;
      padding-right: 30px;
    }
  }


  @media screen and (max-width: 450px){
    .price-button.game{
      font-size: 16px;
    }
  }