.game{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.game-card {
    height: 160px;
    width: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
  }
  
  .starred {
    fill: #FFF;
  }
  
  .game-info {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    align-self: flex-start;
  }
  
  .game-info h3 {
    color: #FFF;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

   
  }

  @media screen and (max-width: 1180px){
    .game-card {
      height: 224px;
      width: 350px;
    }
  }

  @media screen and (max-width: 1110px){
    .game-card {
      height: calc((100vw - 450px)*0.64);
      width: calc(100vw - 450px)
    }
  }


  @media screen and (max-width: 800px){
    .game-card {
      height: calc((100vw - 400px)*0.64);
      width: calc(100vw - 400px)
    }
  }



  @media screen and (max-width: 650px){
    .game-card {
      box-sizing: border-box;
      height: calc(100vw*0.64);
      width: 100vw;
      margin-left: 0px;
    }

    .game-info{
      font-size: 20px;
    }
  }


  @media screen and (max-width: 450px){
    .game-info{
      font-size: 16px;
    }
  }