body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.error-message {
    font-family: 'Lato', sans-serif;
    color: lightcoral;
    text-align: center;
}

.container {
    background-image: url('../../assets/background.svg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.container-logo {
    padding: 50px 150px;
}

.signIn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
}

.signIn-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Rubik', sans-serif;
    width: 650px;
}

.signIn-info h1 {
    margin: 0;
    margin-bottom: 48px;
    font-size: 3em;
    font-weight: 700;
    color: white;
}

.signIn-info span {
    color: #7978D9;
}

.signIn-info p {
    font-size: 1.6em;
    color: white;
    margin-bottom: 48px;
}

.signIn-info button {
    all: unset;
    text-align: center;
    color: white;
    background-color: #7978D9;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;

    padding: 20px 60px;
}

.signIn-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    margin-top: 50px;
    margin-left: 100px;
    padding: 50px;
}

.signIn-form h1 {
    color: #7978D9;
    margin-bottom: 24px;
}

.signIn-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 4px;
}

.signIn-form input {
    all: unset;
    box-sizing: border-box;
    width: 300px;

    border: 1px solid #555555;
    border-radius: 5px;
    margin-bottom: 31px;
    padding: 10px 15px;
}

.signIn-form button {
    all: unset;
    box-sizing: border-box;
    width: 300px;

    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    background-color: #7978D9;
    color: white;
    padding: 15px;
    cursor: pointer;
}

.signIn-info button:hover,
.signIn-form button:hover {
    filter: brightness(1.2);
}