@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.div-tres {
    position: relative;
    box-sizing: border-box;
    width: calc(100vw - 930px);
    min-width: 450px;
    min-height: 450px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;

    cursor: pointer;

    margin-top: 2px;
}

.div-tres .circulo-um {
    width: 150px;
    height: 150px;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: tomato;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

#div-tres-active .circulo-um {
    animation: animacao-circulo-um 2s infinite alternate;
}

.div-tres .circulo-dois {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: tomato;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

#div-tres-active .circulo-dois {
    opacity: 1;
    animation: animacao-circulo-dois 2s infinite alternate;
}

.div-tres .circulo-tres {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: tomato;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

#div-tres-active .circulo-tres {
    opacity: 1;
    animation: animacao-circulo-tres 2s infinite alternate;
}


@keyframes animacao-circulo-um {

    0%,
    10% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes animacao-circulo-dois {

    0%,
    40% {
        transform: scale(0);
    }


    100% {
        transform: scale(1);
    }
}

@keyframes animacao-circulo-tres {

    0%,
    70% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }

}