* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container-dashboard {
    height: 100vh;
    width: 220px;
    background-color: rgb(34, 193, 195);
    color: white;
}

.container-dashboard ul {
    list-style: none;
}

.container-dashboard li {
    font-size: 20px;

    padding: 10px;
    border-bottom: 1px solid white;
    cursor: pointer;
}


.container-dashboard li:hover {
    background-color: rgb(108, 194, 196);
}