@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Rubik:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-body {
  height: 90vh;
  width: 101vw;

  background-color: white;
  border: 5px solid #ffffff;
  border-radius: 60px 60px 0px 0px;

  margin: -15px;
}

.open-filters-button {
  all: unset;

  display: flex;
  align-items: center;

  background: #FAFAFA;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  margin: 5vh 6vw;
  padding: 8px 15px;

  cursor: pointer;
}

.open-filters-button p {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;

  margin-left: 4px;
}

.top-body {
  display: flex;
  align-items: flex-start;
}

.container-filters {
  box-sizing: border-box;
  width: 1000px;

  display: flex;

  background: #FAFAFA;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  margin: 2vh 3vw 4vh 6vw;
  padding: 27px 40px;
}

.title-filters {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: #B9B9B9;
  margin-bottom: 15px;
}

.week-filters {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  box-sizing: border-box;
  width: 250px;
  height: 150px;

  margin-right: 40px;
  padding: 6px 0px 25px 0px;
  border-right: 1px solid #EAEAEA;

  gap: 10px
}

.container-chip,
.container-chip-off {
  box-sizing: border-box;
  width: 100px;
  height: 20px;

  display: flex;
  justify-content: space-between;

  background: #FAFAFA;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  font-family: 'Rubik', sans-serif;
  font-size: 10px;
  line-height: 12px;

  padding: 4px 10px;
  cursor: pointer;
}

.container-chip {
  background-color: #7B61FF;
}

.icon-filter {
  margin-left: 12px;

  cursor: pointer;
}

.value-filters {
  display: flex;
  flex-direction: column;

  margin-right: 60px;
}

.value-filters label {
  font-family: 'Rubik', sans-serif;
  font-size: 9px;
  line-height: 11px;

  color: #484848;
}

.value-filters input {
  all: unset;

  width: 65px;
  height: 22px;

  background: #FFFFFF;
  border: 1px solid #7B61FF;
  box-sizing: border-box;
  border-radius: 2px;

  margin-bottom: 15px;
}

#min-value,
#max-value {
  font-family: 'Rubik', sans-serif;
  font-size: 9px;

  padding: 5px;
}

.btns-geral-filter {
  position: relative;
  width: 220px;
}

.btn-clear-filters {
  all: unset;
  position: absolute;
  width: 98px;
  height: 30px;
  bottom: 0;

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  background: #FAFAFA;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  cursor: pointer;
}


.btn-apply-filters {
  all: unset;
  position: absolute;
  width: 98px;
  height: 30px;
  bottom: 0;
  right: 0;

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  background: linear-gradient(264.83deg, #3A9FF1 -3.28%, #05EDE3 100%);
  color: #FFFFFF;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  cursor: pointer;
}

.resume-button {
  position: absolute;
  top: 25vh;
  right: 10vw;
}

.container-resume {
  box-sizing: border-box;
  width: 230px;

  background: #FAFAFA;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  padding: 26px 33px;
  margin-top: 2vh;
}

.title-resume {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  color: #2F2F2F;

  margin-bottom: 24px;
}

.balance-info {
  display: flex;
  justify-content: space-between;

  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  margin-bottom: 12px;
}

.in {
  color: #645FFB;
}

.out {
  color: #FA8C10;
}

.balance {
  color: #3A9FF1;
}

.result {
  border-top: 1px solid #EAEAEA;

  margin-top: 10px;
  padding: 16px 0px 0px 0px;
}

.btn-add {
  all: unset;
  box-sizing: border-box;
  width: 230px;

  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #FFFFFF;
  background: linear-gradient(91.26deg, #FA8C10 0%, #FF57D3 97.77%);
  border-radius: 5px;

  margin-top: 16px;
  padding: 10px 0;

  cursor: pointer;
}

.table {
  box-sizing: border-box;
  width: 1000px;

  margin-left: 6vw;
}

.table-head {
  background: #FAFAFA;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  font-weight: bold;
}

.table-body {
  max-height: 50vh;
}

.table-line {
  position: relative;
  display: flex;
  align-items: center;

  border-bottom: 1px solid #E0E0E0;
}

.table-head,
.table-line {
  display: flex;
  justify-content: space-between;

  padding: 20px;
}

.column-title {
  cursor: pointer;
}

.column-title,
.line-items {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 110px;
  max-width: 130px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;

}

.description {
  width: 250px;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.column-title img {
  margin-left: 4px;

  cursor: pointer;
}

.delete-icon,
.edit-icon {
  cursor: pointer;
}


.container-confirm-delete {
  position: absolute;
  bottom: -30px;
  right: -50px;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  width: 120px;
  height: 46px;

  background: #E4F2FD;
  border-radius: 4px;

  padding: 7px 15px;
}

.container-confirm-delete p {
  font-family: 'Rubik', sans-serif;
  font-size: 10px;
  line-height: 12px;
}

.btn-action-confirm-delete {
  all: unset;

  width: 37px;
  height: 15px;

  font-family: 'Rubik', sans-serif;
  font-size: 9px;
  line-height: 11px;
  text-align: center;

  border-radius: 4px;
  color: white;
}

.sim {
  background: #3A9FF1;
  margin-right: 2px;
}

.nao {
  background: #FF576B;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(61, 61, 61, 0.48);
  ;
}

.modal-container {
  display: flex;
  flex-direction: column;

  background: #FFFFFF;
  border-radius: 20px;

  padding: 60px;
}

.title-close {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 50px;
}

.title-modal {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
}

.close-icon {
  cursor: pointer;
}

.form-items {
  display: flex;
  flex-direction: column;

  margin-top: 35px;
}

.btns-modal {
  display: flex;
}

.btn-credit,
.btn-debit {
  all: unset;

  height: 50px;
  width: 200px;

  display: flex;
  align-items: center;
  justify-content: center;


  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: white;
  background: #B9B9B9;

  cursor: pointer;
}

.btn-credit {
  border-radius: 10px 0px 0px 10px;
}

.btn-debit {
  border-radius: 0px 10px 10px 0px;
}

.form-items label {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  margin-bottom: 8px;
}

.form-items input {
  all: unset;
  font-family: 'Rubik', sans-serif;

  border: 1px solid #555555;
  border-radius: 5px;

  padding: 10px;
  margin-bottom: 20px;
}

.select.btn-credit {
  background: linear-gradient(91.26deg, #05EDE3 0%, #3A9FF1 97.77%);
}

.select.btn-debit {
  background: linear-gradient(91.66deg, #FA8C10 0%, #FF576B 90.32%);
}

.btn-insert {
  all: unset;
  box-sizing: border-box;
  height: 30px;
  width: 230px;

  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  background: #645FFB;
  border-radius: 5px;
  color: white;

  align-self: center;
  margin: 10px 0 -10px 0;
  cursor: pointer;
}

.hidden {
  display: none;
}