.footer{
    position: absolute;
    bottom: 0;

    display: none;
    align-items: center;
    justify-content: space-evenly;

    width: 80vw;
    padding: 30px;
}

footer img{
    display: block;
    width: 35px;
}